/* ==========================================================================
   Base styles: defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/* ==========================================================================
   Custom Styles
   ========================================================================== */

/* Typografie */

@font-face {font-family: Sentinel Book; src: url(../fonts/SentinelBook.otf) format('opentype');}
@font-face {font-family: Sentinel Italic; src: url(../fonts/SentinelBookItalic.otf) format('opentype');}
@font-face {font-family: Sentinel Light Italic; src: url(../fonts/SentinelLightItalic.otf) format('opentype');}
@font-face {font-family: Sentinel Medium; src: url(../fonts/SentinelMedium.otf) format('opentype');}

#mti_wfs_colophon {
	display: none !important;
}

body {
	font-family: Sentinel Medium, Times New Roman, serif;
	font-size: 13px;
	color: #000100;
	font-weight: normal;
}

#nav-main {
	font-family: HelveticaNeueW01-45Ligh, Arial, sans-serif;
	font-size: 1.65em;
	font-weight: normal;
	letter-spacing: 0.02em;
}

#nav-main .dropdown {
	font-family: HelveticaNeueW01-65Medi, Arial, sans-serif;
	font-size: 13px;
	line-height: 1;
	font-weight: normal;
	letter-spacing: 0.02em;
}

#location-current {
	font-family: HelveticaNeueW01-45Ligh, Arial, sans-serif;
	font-size: 3em;
	line-height: 1;
	font-weight: normal;
	letter-spacing: 0.02em;
}

#location-select {
	font-family: HelveticaNeueW01-55Roma, Arial, sans-serif;
	text-transform: uppercase;
	font-size: 0.9em;
	line-height: 1;
	font-weight: normal;
	letter-spacing: 0.02em;
}

#location-select ul {
	font-family: HelveticaNeueW01-45Ligh, Arial, sans-serif;
	font-size: 1.9em;
	font-weight: normal;
	letter-spacing: 0.02em;
}

.caption p {
	font-family: HelveticaNeueW01-45Ligh, Arial, sans-serif;
	font-size: 2.15em;
	line-height: 1.2;
	font-weight: normal;
	letter-spacing: 0.02em;
}

.caption .meta {
	font-family: HelveticaNeueW01-65Medi, Arial, sans-serif;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 0.02em;
}

.caption .meta a {
	color: #fff;
	text-decoration: none;
	font-weight: normal;
}

.counter {
	font-family: HelveticaNeueW01-Thin, Arial, sans-serif;
	font-size: 2.6em;
	color: #fff;
	text-align: center;
	font-weight: normal;
	letter-spacing: 0.02em;
}

.rsArrow  {
	display: none !important;
}

#about {
	font-family: Sentinel Book, Times New Roman, serif;
	font-size: 1.5em;
	color: #3D3D3D;
	font-weight: normal;
}

.section-link h1, #units h1 {
	font-family: HelveticaNeueW01-45Ligh, Arial, sans-serif;
	font-size: 2em;
	font-weight: normal;
	letter-spacing: 0.02em;
}

.section-link h1 span {
	font-size: 0.5em;
	text-transform: uppercase;
	font-weight: normal;
}

.item .meta h2 {
	font-family: HelveticaNeueW01-45Ligh, Arial, sans-serif;
	font-size: 2.15em;
	line-height: 1.2;
	margin: 10px 10px 5px 0;
	font-weight: normal;
	letter-spacing: 0.02em;
}

.item .meta p {
	font-size: 1.9em;
	font-family: Sentinel Light Italic;
	font-weight: normal;
}

#units .item .meta h2 {
	font-family: HelveticaNeueW01-45Ligh, Arial, sans-serif;
	font-size: 2.1em;
	font-weight: normal;
	letter-spacing: 0.02em;
}

.item .meta h2 a {
	color: #fff;
	text-decoration: none;
	font-weight: normal;
}

.item .meta span {
	font-family: HelveticaNeueW01-65Medi, Arial, sans-serif;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 0.02em;
}

#events-info {
	color: #3D3D3D;
	font-weight: normal;
}

#events-info h1 {
	font-family: HelveticaNeueW01-45Ligh, Arial, sans-serif;
	color: #666;
	font-weight: normal;
	letter-spacing: 0.02em;
}

#events-info .item p {
	font-size: 1.3em;
	font-weight: normal;
}

#events-info .next .item p {
	font-family: Sentinel Book, Times New Roman, serif;
	font-size: 1.3em;
	font-weight: normal;
}

#events-info .next .item p:last-child {
	font-family: Sentinel Italic, Times New Roman, serif;
	font-size: 1em;
	line-height: 2;
	font-weight: normal;
}

#events-info .event-link a, #events-info .event-link a {
	font-family: HelveticaNeueW01-65Medi, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 0.02em;
}

#events-info .event-link a:hover, #events-info .event-link a:hover {
	text-decoration: none;
	color: #000;
	font-weight: normal;
}

.item span.date {
	font-family: HelveticaNeueW01-45Ligh, Arial, sans-serif;
	font-size: 2.15em;
	line-height: 1;
	margin: 0 0 10px 0;
	color: #666;
	font-weight: normal;
	letter-spacing: 0.02em;
}

.item span.type {
	font-family: HelveticaNeueW01-65Medi, Arial, sans-serif;
	font-size: 1em;
	text-transform: uppercase;
	margin: 0 0 15px 0;
	color: #0080AD;
	font-weight: normal;
	letter-spacing: 0.02em;
}

.side ul li span {
	font-family: HelveticaNeueW01-65Medi, Arial, sans-serif;
	font-size: 1.3em;	
	font-weight: normal;
	letter-spacing: 0.02em;
}

#footer {
	font-family: HelveticaNeueW01-65Medi, Arial, sans-serif;
	font-size: 1em;
	font-weight: normal;
	letter-spacing: 0.02em;
}

#footer h1 {
	font-family: HelveticaNeueW01-65Medi, Arial, sans-serif;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 0.02em;
}

#footer span {
	font-family: HelveticaNeueW01-45Ligh, Arial, sans-serif;	
	font-size: 1.1em;
	font-weight: normal;
	letter-spacing: 0.02em;
}

p {
	margin: 0;
	font-weight: normal;
}

a {
	text-decoration: none;
	color: #0080AD;
	font-weight: normal;
}

a:hover {
	text-decoration: none;
	font-weight: normal;
	color: #000100;
}

/* Pagina en wrapper structuur */

body {
	margin: 0px;
	background: #fff;
	position: relative;
	width: 100%;
}

.mobile {
	display: none;
}

#wrapper-main {
	margin: 0 auto;
	max-width: 1280px;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

[class*='col-'] {
	float: left;
	padding-right: 20px;
}

[class*='col-']:last-of-type {
	padding-right: 0px;
}

.grid {
	width: 100%;
	position: relative;
}

.grid:after {
	content: "";
	display: table;
	clear: both;
}

.grid-pad {
	padding: 0 0 0 40px;
}

.grid-pad > [class*='col-']:last-of-type {
	padding-right: 20px;
}

.push-right {
	float: right;
}

.col-1-1 {
	width: 100%;
}
.col-2-3, .col-8-12 {
	width: 66.66%;
}

.col-1-2, .col-6-12 {
	width: 50%;
}

.col-1-3, .col-4-12 {
	width: 33.33%;
}

.col-1-4, .col-3-12 {
	width: 25%;
}

.col-1-5 {
	width: 20%;
}

.col-4-5 {
	width: 80%;
}

.col-1-6, .col-2-12 {
	width: 16.667%;
}

.col-1-7 {
	width: 14.28%;
}

.col-1-8 {
	width: 12.5%;
}

.col-1-9 {
	width: 11.1%;
}

.col-1-10 {
	width: 10%;
}

.col-1-11 {
	width: 9.09%;
}

.col-1-12 {
	width: 8.33%
}

.col-11-12 {
	width: 91.66%
}

.col-10-12 {
	width: 83.333%;
}

.col-9-12 {
	width: 75%;
}

.col-5-12 {
	width: 41.66%;
}

.col-7-12 {
	width: 58.33%
}

/* Header en navigatie */

#logo {
	float: left;
	width: 375px;
}

#logo img {
	max-width: 100%;
	margin: 20px 0 20px 40px;
}

#location {
	position: relative;
	float: right;
	padding: 35px 70px 35px 0;
	color: #666;
}

#location span {
	display: block;
}

#location-current {
	padding: 0 0 0 20px;
}

#location-select {
	position: absolute;
	width: 100%;
	left: 0;
	padding: 0 95px 0 0;
	margin: -1px 0 0 0;
}

#location-select span {
	position: relative;
	padding: 6px 5px 6px 30px;
	cursor: pointer;
	width: 100%;
}

#location-select span:after {
	content: "";
	position: absolute;
	width: 14px;
	height: 8px;
	top: 7px;
	right: 10px;
	background: url(../images/arrow_dropdown_sprite.png) top no-repeat;
	background-size: 100%;
}

#location-select:hover span {
	color: #fff;
	background: #292929;
	
}

#location-select:hover span:after {
	background-position: bottom;
}

#location-select ul {
	display: none;
	position: absolute;
	left: 0;
	z-index: 9999;
	width: 100%;
	margin: 0;
	padding: 0;
	text-transform: none;
}

#location-select:hover ul {
	display: block !important;
}

#location-select ul li {
	width: 100%;
	background: rgba(41, 41, 41, 0.80);
}

#location-select ul li:hover {
	background: rgba(0, 0, 0, 1);
}

#location-select ul li a {
	display: block;
	padding: 10px 20px;

}

#location-select ul li a {
	color: #fff;
	text-decoration: none;
}

#nav-main {
	background: #007C80;
	margin: 0 0 0 195px;
	color: #fff;
}

#nav-main a {
	color: #fff;
	text-decoration: none;
	display: block;
}

#nav-primary {
	float: left;	
	margin: 0;
	padding: 0;
}

#nav-secondary {
	float: right;
}

#nav-primary > li	{
	position: relative;
	float: left;
}

#nav-primary > li > a {
	padding: 5px 15px;
}

#nav-primary > li:hover > a {
	background: #292929;
}

#nav-primary > li > ul a:hover {
	color: #388A91;
}

#nav-primary > li > ul {
	display: none;
	position: absolute;
	z-index: 9999;
	top: 100%;
	margin: 0;
	padding: 20px 30px;
	background: rgba(41, 41, 41, 0.94);
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

#nav-primary > li > ul.large {
	width: 550px;
}

#nav-primary > li:hover > ul {
	display: block;
}

#nav-primary > li > ul > li {
	position: relative;
	display: block;
	float: left;
	width: 275px;
}

#nav-secondary {
	float: right;
	padding: 0 10px 0 0 ;
	margin: 0;
}

#nav-secondary  > li	{
	position: relative;
	float: left;
}

#nav-secondary > li#searchicon {
	padding: 5px 30px;
}

#nav-secondary > li#searchicon input,
#nav-secondary > li#searchicon label {
	float: left;
	height: 29px;
}

#nav-secondary > li#searchicon label {
	margin: 0 15px 0 0;
}

#nav-secondary > li#searchicon:hover {
	cursor: pointer;
}

#nav-secondary > li#searchicon img {
	margin: -5px 0 0 0;
}

#nav-secondary > li > a {
	padding: 11px 3px;
	font-size: 0.6em;
}

#nav-secondary > li > ul {
	display: none;
	position: absolute;
	z-index: 9999;
	top: 100%;
	right: -10px;
	margin: 0;
	padding: 20px 30px;
	background: rgba(41, 41, 41, 0.94);
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: 285px;
}

#nav-secondary > li > ul > li span {
	float: left;
	width: 30%;
	line-height: 1;
}

#nav-secondary > li > ul > li input {
	float:left;
	width: 70%;
	padding: 5px 0;
	background: none;
	border: none;
	color: #fff;
	font-size: 13px;
}

#nav-secondary > li > ul > li input:focus {
	outline: none;
}

#nav-secondary > li:hover > ul {
	display: block;
}

#nav-main .nav-level-1 > li > a {
	text-transform: uppercase;
	padding: 10px 0;
}

#nav-main .nav-level-2 {
	margin: 0;
	padding: 10px 0;
}

#nav-main .nav-level-2 > li a:before {
	content: '› ';
	display: inline;
	font-size: 1.5em;
	line-height: 1;
}

#nav-main .nav-level-2 > li > a {
	padding: 0 0 4px 0;
}

#full-width-slider {
  width: 100%;
  color: #000;
}

.rsGCaption {
	position: absolute;
	bottom: 114px;
}

.caption {
	text-align: left;
	padding: 20px 40px;
	color: #fff;
	width: 420px;
	cursor: pointer;
}

.caption.blue {
	background: #0080AD;
}

.caption.orange {
	background: #E36109;
}

.caption.green {
	background: #5E801A;
}

.caption.greenblue {
	background: #007C80;
}

.caption.yellow {
	background: #E2AD00;
}

.caption p {
	margin: 0;
}

.caption .meta {
	margin: 10px 0 0 0;
}

.caption .meta span {
	float: left;
}

.caption .meta a {
	float: right;
	margin: 0 -20px 0 0;
}

.caption .meta a:hover {
	color: #000100;
}

.caption .meta a:after {
	content: "";
	display: block;
	float: right;
	height: 12px;
	width: 6px;
	margin: 4px 0 0 15px;
	background: url(../images/arrow_right_small_sprite.png) top no-repeat;
	background-size: 100%;
}

.caption .meta a:hover:after {
	background: url(../images/arrow_right_small_sprite.png) bottom no-repeat;
	background-size: 100%;
}

.counter {
	position: absolute;
	height: 114px;
	background: #605D5A;
}

.counter .current {
	display: table;
	float: left;
	height: 114px;
	padding: 0 6px;
	background: #605D5A;
	letter-spacing: 0.05em;
}

.counter .current span {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
}

.slider-prev, .slider-next {
	float: left;
	bottom: 0;
	height: 64px;
	width: 33px;
	border-top: solid 25px #605D5A;
	border-bottom: solid 25px #605D5A;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.slider-prev {
	background: #605D5A url(../images/arrow_left_big_sprite.png) top no-repeat;
	background-size: 100%;
	border-left: solid 40px #605D5A;
}

.slider-next {
	left: 133px;
	background: #605D5A url(../images/arrow_right_big_sprite.png) top no-repeat;
	background-size: 100%;
	border-right: solid 40px #605D5A;
}

.slider-prev:hover, .slider-next:hover {
	background-position: bottom;
	cursor: pointer;
}

#about {
	background: #EDEDED;
}

.about-text {
	float: right;
	padding: 40px 0;
}

/* Nieuws sectie */

#news .section-link {
	background: #809090;
	color: #fff;
}

.section-link h1 {
	margin: 0;

}

.section-link h1 a {
	position: relative;
	display: block;
	width: 100%;
	color: #fff;
	text-decoration: none;
	padding: 20px 40px;

	
}

.section-link h1 span {
	position: absolute;
	right: 40px;
	top: 30px;

}

.section-link h1 a span:after {
	content: "";
	display: block;
	float: right;
	height: 12px;
	width: 6px;
	margin: 3px 0 0 15px; 
	background: url(../images/arrow_right_small_sprite.png) top no-repeat;
	background-size: 100%;
}

.item {
	padding: 0;
	cursor: pointer;
}

.item:hover .date, #events-info .item:hover p  {
	color: #0080AD;
}


.item .container {
	width: 100%;
	display: block;
    position: relative;
	padding: 0;
    padding-bottom: 100%; /* 1:1 */
    height: 0;
	color: #fff;
	overflow: hidden;
}

.item.blue .container {
	background: #0080AD;
}

.item.orange .container {
	background: #E36109;
}

.item.green .container {
	background: #5E801A;
}

.item.greenblue .container {
	background: #007C80;
}

.item.yellow .container {
	background: #E2AD00;
}

.item .container .content {
	width: 100%;
	height: 100%;
	position: absolute;
}

.item .container .content img {
	position: absolute;
	width: 110%;
	margin: -5% 0 0 -5%;
}

.item .container .meta {
	position: absolute;
	height: 100%;
	width: 100%;
}

.item .container .meta p {
	margin: 0 0 50px 0;
}

.item.img .container .meta {
	background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
	background: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
	background: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
}

.item:hover .container .meta {
	background: rgba(0, 0, 0, 0.5);
}

.item .container .meta > div {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 40px;
	width: 90%;
}

.item .container .point {
	position: absolute;
	right: 40px;
	bottom: 40px;
	width: 34px;
	height: 66px;
	background: url(../images/arrow_right_big_sprite.png) top no-repeat;
	background-size: 100%;
}

/* Events en info sectie */

#events-info {
	background: #EDEDED;
}

#events-info .equal {
	position: relative;
}

.side .blue {
	background: #0080AD;	
	color: #fff;
	padding: 25px 0;
}

.side ul {
	padding: 0;
	margin: 0;
}

.side ul li {
	list-style: none;
	margin: 0;
	padding: 10px 20px;;
	position: relative;
}

.side ul li span {
	padding: 0 0 0 20px;
}

.side ul li a {
	color: inherit;
	text-decoration: none;
	display: block;
	width: 100%;
}

.side ul li:hover {
	background: #292929;
	cursor: pointer;
}

.side ul li a img {
	padding: 5px;
}

#events-info h1 {
	padding: 40px 0 20px 0;
}

#events-info .item {
	padding: 0 40px 0 0;
	margin: 0 0 40px 0;
}

#events-info .item a {
	color: inherit;
	text-decoration: inherit;
}

#events-info .item span {
	display: block;
}

#events-info .item p {
	margin: 10px 0;
}

#events-info .col {
	position: relative;
	height: 100%;
}

#events-info .col .container {
	margin: 0 0 80px 0;
}

#events-info .event-link {
	width: 80%;
	position: absolute;
	bottom: 30px;
}

#events-info .event-link a {
	width: 100%;
	float: left;
}

#events-info .event-link a:after {
	content: "";
	display: inline-block;
	height: 12px;
	width: 6px;
	margin: 5px 0 0 15px;
	background: url(../images/arrow_right_small_sprite_blue.png) top no-repeat;
	background-size: 100%;
}

#events-info .event-link a:hover:after {
	background-position: bottom;
}

/* Research Units sectie */

#unit-grid {
	margin: 0 0 90px 0;
}

#units .item .container .point {
	width: 15px;
	height: 28px;
	right: 20px;
	bottom: 20px;
}

#units .item .container .meta > div {
	width: 100%;
	padding: 20px;
}

#units h1 {
	padding: 10px 0;
	color: #666;
}

#units a {
	color: inherit;
	text-decoration: none;
}


/* Footer */

#footer {
	background: #292929;
	color: #fff;
}

#footer h1 {
	padding: 0 0 10px 0;
}

#footer a {
	color: inherit;
	text-decoration: none;
}

#footer a.more {
	display: block;
	padding-top: 15px;
}

#footer a:hover {
	color: #000;
}

#footer p {
	width: 90%;
}

#footer ul {
	padding: 0;
	margin: 0;
}

#footer ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}

#footer ul.social {
	margin: 0 0 0 -5px;
}

#footer ul.social li {
	float: left;
	margin: 0 10px 10px 0;
	position: relative;
	height: 22px;
	width: 22px;
}

#footer ul.social a {
	display: block;
	height: 22px;
	width: 22px;
	position: absolute;
	overflow: hidden;
}

#footer ul.social a img {
	width: 100%;
	position: absolute;
	top: 0;
}

#footer ul.social a:hover img {
	bottom: 0;
	top: inherit;
}

#footer span {
	display: block;
	padding: 30px 0;
}

#footer #coppyright {
	float: left;
}

#footer #footerlinks {
	float: right;
	padding-right: 40px;
}

#footer #footerlinks a {
	color: inherit;
	text-decoration: none;
	margin: 0 0 0 40px;
}

#footer #footerlinks a:hover {
	color: #388A91;
}

#footer .info {
	background: #809090;
}

#footer .item-footer {
	padding-top: 45px;
	padding-bottom: 45px;
}

/* Longpage */

#header {
	position: relative;
	overflow: hidden;
	height: 240px;
}

#header-wrapper {
	position: relative;
	height: 240px;
	margin: 0 0 0 280px;
	box-sizing: border-box;
}

#header-content {
	position: absolute;
	width: 100%;
	bottom: 0;
	padding: 30px 0 30px 80px;
	background: rgba(0,0,0, 0.4);
	color: #ffffff;
}

#page-title {
	float: left;
	width: 40%;
}

#header-content h1 {
	font-family: HelveticaNeueW01-45Ligh, Arial, sans-serif;
	font-size: 3em;
	margin: 0;
	letter-spacing: 0.02em;
}

#header-content span {
	display: block;
	font-family: HelveticaNeueW01-65Medi, Arial, sans-serif;
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: 0.02em;
}

#header img {
	position: absolute;
	width: 100%;
}

#sidebar-nav {
	font-family: HelveticaNeueW01-65Medi, Arial, sans-serif;
	font-size: 1em;
	letter-spacing: 0.02em;
}

#sidebar-nav a {
	color: #605D5A;
}

#sidebar {
	position: relative;
	background: #EDEDED;
	padding: 0 40px 0 40px;
	width: 280px;
	float: left;
	z-index: 1;
}

#sidebar nav {
	padding: 40px 0;
}

#sidebar .backlink {
	font-family: HelveticaNeueW01-65Medi, Arial, sans-serif;
	text-transform: uppercase;
	color: #605D5A;
	letter-spacing: 0.02em;
}

#sidebar .backlink:before {
	content: '';
	display: inline-block;
	margin: 0 14px 0 -20px;
	height: 12px;
	width: 5px;
	background: url(../images/arrow_left_small_sprite.png) bottom no-repeat;
	background-size: 100%;
}

#cont-wrapper {
	width: 100%;
	position: relative;
	padding: 0 0 0 280px;
	box-sizing: border-box;
	z-index: 0;
}

#content {
	width: 100%;
}

#sidebar .current {
	display: block;
	font-size: 1.45em;
	font-family: HelveticaNeueW01-75Bold, Arial, sans-serif;
	color: #605D5A;
	margin: 40px 0 20px 0;
	letter-spacing: 0.02em;
}

#sidebar  .nav-title {
	display: block;
	text-transform: uppercase;
	color: #605D5A;
	font-size: 1em;	
}

#sidebar-nav, #sidebar-nav ul, #sidebar-nav ul li  {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar-nav > li > ul,
#sidebar-nav > li > ul > li > ul {
	display: none;
}

#sidebar-nav li.active > ul {
	display: block !important;
}

#sidebar-nav > li > ul > li {
	margin: 0 0 8px;
}

#sidebar-nav > li > ul > li > a:before {
	content: '';
	display: inline-block;
	margin: 0 10px 0 0;
	height: 12px;
	width: 5px;
	background: url(../images/arrow_right_small_sprite.png) bottom no-repeat;
	background-size: 100%;
}

#sidebar-nav > li > ul > li.active > a:before {
	margin: 0 8px 0 2px;
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

#sidebar-nav > li {
	margin: 10px 0 0 0;
}

#sidebar-nav > li > ul > li > ul a {
	padding: 10px 0 10px 40px;
}

#sidebar-nav a {
	display: block;
	padding: 5px 0;
}

#sidebar-nav > li.active > a {
	color: #0080AD;
	text-decoration: none;
}

#sidebar-nav > li > a {
	text-transform: uppercase;
}



/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */

@media handheld, only screen and (max-width: 1150px) {
	body {
		font-size: 11px;
	}
	
	#logo {
		width: 335px
	}
	
	#location-select span {
		padding: 6px 5px 6px 20px;
	}
	
	#location-select span:after {
		width: 12px;
		height: 7px;
	}
	
	#nav-primary > li > a {
		padding: 7px 10px;
	}
	
	#nav-secondary > li#searchicon {
		padding: 7px 30px 7px 10px;
	}
	
	#nav-secondary > li > ul > li span {
		line-height: 1.35;
	}
	.rsGCaption {
		bottom: 84px;
	}
	
	.caption {
		width: 370px;
	}
	
	.counter, .counter .current {
		height: 84px;
	}
	
	.slider-prev, .slider-next {
		height: 44px;
		width: 23px;
		border-top: solid 20px #605D5A;
		border-bottom: solid 20px #605D5A;
	}
	
	.slider-prev {
		border-left: solid 30px #605D5A;
	}
	
	.slider-next {
		border-right: solid 30px #605D5A;
	}
	
	.item .container .meta p {
		margin: 0 0 15px 0;
		font-size: 1.5em;
	}
	
	.side ul li a {
		font-size: 0.85em;
	}
	

	
}

@media handheld, only screen and (max-width: 850px) {
	body {
		font-size: 11px;
	}
	
	.grid-pad {
		padding: 0 0 0 20px;
	}
	
	#logo {
		width: 315px
	}
	
	#logo img {
		margin-left: 20px;
	}
	
	#nav-main {
		margin: 0;
	}
	
	#nav-primary > li > a {
		padding: 10.5px 15px;
		font-size: 0.85em;
	}
	
	#nav-secondary > li > a {
		padding: 13px 3px;
	}
	
	#nav-secondary > li#searchicon {
		padding: 8.5px 30px 8.5px 10px;
	}
	
	.rsGCaption {
		width: 100%;
		position: inherit;
		bottom: 0;
	}
	
	.rsCaption {
		position: relative;
		height: 121px;
	}
	
	.caption {
		width: 75%;
		float: left;
		padding: 20px;
	}
	
	.caption .meta a {
		float: left;
		margin: 0 0 0 35px;
	}
	
	.counter {
		position: relative;
		width: 25%;
		height: 121px;
		float: left;
	}
	
	.counter .current {
		display: table;
		height: 121px;
		width: 100%;
		background: #605D5A;
		padding: 0;
		font-size: 1.2em;
	}
	
	.slider-prev, .slider-next {
		height: 71px;
		width: 37px;
		border-top: solid 25px #605D5A;
		border-bottom: solid 25px #605D5A;
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
	}
	
	.slider-prev {
		position: absolute;
		border-left: solid 20px #605D5A;
	}
	.slider-next {
		position: absolute;
		left: inherit;
		right: 0;
		border-right: solid 20px #605D5A;
	}
	
	.about-text {
		float: left;
		width: 100%;
	}
	
	.section-link h1 a {
		padding: 20px;
	}
	
	.section-link h1 span {
		right: 20px;
	}
	
	.item .container .meta > div {
		padding: 20px;
	}
	
	.item .container .meta p {
		margin: 0 0 10px 0;
		font-size: 1.3em;
	}
	
	.item .meta h2 {
		font-size: 1.5em;
	}
	
	.item .meta p {
		font-size: 1.5em;
	}
	
	.item .container .point {
		bottom: 20px;
		right: 20px;
	}
	
	.item span.date {
		margin: 0 0 5px 0;
	}
	
	.item span.type {
		margin: 0 0 10px 0;
	}
	
	#events-info .item {
		margin: 0 0 20px 0;
	}
	
	.side .blue {
		padding: 10px 0;
	}
	
	.side ul li {
		padding: 5px 5px;
	}
	
	.side ul li a {
		font-size: 0.8em;
	}
	
	.side ul li a img {
		width: 60px
	}
	
	.side ul li span {
		padding: 0 0 0 5px;
	}
	
	#footer #footerlinks {
		padding-right: 20px;
	}
	
	#header-wrapper {
		margin: 0;
	}
	
	#header-content {
		padding: 20px 0 20px 20px
	}
	
	#sidebar {
		width: 200px;
		padding: 20px 20px 40px 20px;
	}
	
	#cont-wrapper {
		padding: 0 0 0 200px;
	}
	
}


@media handheld, only screen and (max-width: 650px) {
	
	body {
		font-size: 10px;
	}	
	
	.mobile {
		display: inherit;
	}
	
	.desktop {
		display: none;
	}
	
	.grid {
		width: 100%;
		min-width: 0;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.grid-pad {
		padding: 0 0 0 30px;
	}
	
	.grid-pad > [class*="col-"]:last-of-type {
    	padding-right: 30px;
	}
	
	[class*='col-'] {
		width: auto;
		float: none;
		margin-left: 0px;
		margin-right: 0px;
	}
	
	#logo {
		width: 100%;
		padding: 20px 30px 30px 30px;
		float: none;
	}
	
	#logo img {
		margin: 0;
	}
	
	#location {
		float: none;
		width: 100%;
		height: 70px;
		padding: 0;
		cursor: pointer;
		background: #007C80;
		color: #fff;
		position: relative;
	}
	
	#location-current {
		padding: 25px 30px;
		position: relative;
		font-size: 2.1em;
	}
	
	#location-current:after {
		content: '';
		display: block;
		background: url(../images/arrow_dropdown_sprite.png) bottom no-repeat;
		width: 17px;
		height: 9px;
		background-size: 100%;
		float: right;
		margin: 7px 70px 0 0;
	}
	
	#location-select ul {
		font-size: 2.1em;
	}
	
	#location-select ul li {
		width: 100%;
		padding: 10px 10px;
	}
	
	#location-select span {
		display: none;
	}
	
	#nav-button {
		width: 70px;
		height: 70px;
		background: #292929;
		position: absolute;
		right: 0;
		top: 0;
	}
	
	#nav-button img {
		width: 100%;
	}
	
	#nav-main {
		display: none;
		position: absolute;
		width: 75%;
		right: 0;
		background: #292929;
		font-family: HelveticaNeueW01-65Medi, Arial, sans-serif;
		letter-spacing: 0.02em;
	}
	
	#nav-seconday {
	}
	
	.nav-level-1 {
		display: none !important;
	}
	
	#nav-primary {
		position: absolute;
		z-index: 9999;
		padding: 30px 20px;
		background: #292929;
	}
	
	#nav-primary > li {
		padding: 5px 0;
		width: 100%;
		background: #292929;
		text-transform: uppercase;
	}
	
	.royalSlider  {
		height: 200px !important;
	}
	
	.caption {
		padding: 20px 30px;
		width: 100%;
	}
	
	.counter {
		display: none;
	}
	
	.rsArrow  {
		display: block !important;
		height: 100%;
		position: absolute;
		width: 50px;
	}
	
	.rsArrowLeft {
		left: 0px;
		background: url(../images/arrow_slidermobile_sprite.png) left center no-repeat;
		background-size: 200%;
	}
	
	.rsArrowRight {
		right: 0px;
		background: url(../images/arrow_slidermobile_sprite.png) right center no-repeat;
		background-size: 200%;
	}
	
	.about-text {
		float: left;
	}
	
	.section-link h1 a {
		padding: 20px 30px;
	}
	
	.item .container .meta > div {
		padding: 30px;
	}
	
	.item .container .point {
		right: 30px;
		bottom: 30px;
		width: 22px;
		height: 42px;
	}
	
	.item .meta h2 {
		font-size: 2em;
	}
	
	#unit-grid {
		background: #292929;
	}
	
	#news .item {
		width: 50%;
		float: left;
	}
	
	#units .item {
		width: 33.33%;
		float: left;
	}
	
	.equal {
		position: inherit;
	}
	
	#events-info .grid-pad {
		margin-top: 30px;
		padding: 0;
	}
	
	#events-info .col {
		padding-bottom: 30px;
		padding-left: 30px;
		padding-right: 30px;
		width: 50%;
		float: left;
	}
	
	#events-info .col .container {
		margin: 0 0 60px 0;
	}
	
	#events-info .next > a, #events-info .future > a {
		position: inherit;
		padding: 10px 0;
	}
	
	#events-info h1 {
		margin: 0;
		padding: 0 0 30px 0;
	}
	
	#events-info .item {
		margin: 0 0 20px 0;
		padding: 0;
	}
	
	.side ul li {
		padding: 10px 20px;
	}
	
	.side h1 {
		background: #0080AD;
		padding: 30px 30px !important;
		color: #fff !important;
		margin: 0;
	}
	
	.side ul li {
		width: 50%;
		float: left;
	}
	
	.side ul li a {
		font-size: 0.8em;
	}
	
	.side .blue {
		margin: 0;
		padding: 0 0 30px 0;
	}
	
	#units .item .meta h2 {
		font-size: 1.45em;
	}
	
	#footer .info {
		padding-top: 25px;
	}
	
	#footer .item-footer {
		width: 50%;
		float: left;
		padding-top: 0;
		padding-bottom: 25px;
	}
	
	#footer #coppyright {
		width: 100%;
		padding: 30px 0 0 0;
	}
	
	#footer #footerlinks {
		width: 100%;
		padding: 10px 0 30px 0;
	}
	
	#footer #footerlinks a {
		margin: 0;
	}
	
	#footer #footerlinks a:last-child {
		margin: 0 0 0 10px;
	}

}

@media handheld, only screen and (max-width: 460px) {
	
	#news .item {
		width: inherit;
	}
	
	#events-info .col {
		width: inherit;
		float: inherit;
		height: auto !important;
	}
	
	.side ul li {
		width: inherit;
		float: inherit;
	}
	
	.side ul li a {
		font-size: 0.85em;
	}
	
	.no-img .container {
		padding: 0 0 50% 0;
	}
	
	#units .item {
		width: 50%;
		float: left;
	}
	
	#footer .info {
		padding-top: 25px;
		padding-bottom: 25px;
	}
	
	#footer .item-footer {
		width: inherit;
		float: inherit;
	}
	
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles.
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
